@using LSRPO.Core.Models.User
@model IEnumerable<PinCodesViewModel>

@{
    ViewData["Title"] = "ПИН кодове";
}

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <div class="float-right ml-3" id="buttons"></div>
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <table id="datatable" class="display" style="width:100%">

                        <thead>
                            <tr>
                                <th>Потребителско име</th>
                                <th>Име</th>
                                <th>Описание</th>
                                <th>ПИН код</th>
                                <th style="width:15%">Действие ПИН</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.FullName</td>
                                    <td>@user.Description</td>
                                    <td>@user.PinCode</td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-area="admin" asp-action="ChangePin" asp-controller="user" asp-route-id="@user.Id" class="btn btn-warning btn-sm">Редактиране</a>
                                        </div>
                                        <div class="btn-group">
                                            <form asp-area="admin" asp-action="DeletePin" asp-controller="user" asp-route-id="@user.PinId" method="post">
                                                <button type="submit" class="btn btn-danger btn-sm " onclick="return confirm('Потвърждаване изтриването на ПИН код за потребител: @user.FullName')">Изтриване</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>Потребителско име</th>
                                <th>Име</th>
                                <th>Описание</th>
                                <th>ПИН код</th>
                                <th>Действие ПИН</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- Page specific script -->
@section Scripts {
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            "pageLength": 100,
            "lengthMenu": [[10, 25, 50, 100, 250, 500, -1], [10, 25, 50, 100, 250, 500, "All"]],
            "responsive": true,
            buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3 ]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3 ]
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3 ]
                }
            },
            {
                extend: "print",
                exportOptions: {
                    columns: [ 0, 1, 2, 3 ]
                }
            }]
        }).buttons().container().appendTo('#buttons');
    } );
</script>
}