@using LSRPO.Core.Models.User
@model UserRolesViewModel

@{
    ViewData["Title"] = "Редактиране на роли";
}

<div class="row">
    <div class="col-md-4">
        <form id="roles" method="post">
            <input type="hidden" name="Id" value="@Model.UserId" />
            <h2>@Html.DisplayFor(d => d.FullName)</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <div class="col-sm-12">
                        <div class="form-group">

                            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.RoleItems)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="@item.Value" value="@item.Value" @(item.Selected ? "checked" : "")>
                                    <label for="@item.Value" class="custom-control-label">@item.Text</label>
                                </div>
                            }

                            @*<div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                                <label for="customCheckbox1" class="custom-control-label">Custom Checkbox</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked="">
                                <label for="customCheckbox2" class="custom-control-label">Custom Checkbox checked</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="customCheckbox3" disabled="">
                                <label for="customCheckbox3" class="custom-control-label">Custom Checkbox disabled</label>
                            </div>*@

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <button id="roles-submit" type="submit" class="btn btn-block btn-success">Редактиране на ролите</button>
                </div>
                <div class="col-6">
                    <a asp-area="admin" asp-action="manageusers" asp-controller="user" class="btn btn-block btn-warning">Отказ</a>
                </div>
            </div>

        </form>
    </div>
</div>