@using LSRPO.Core.Constants
@using LSRPO.Core.Models.NotifyObject
@model IEnumerable<NotifyObjectListViewModel>

@{
    ViewData["Title"] = "Обекти за оповестяване";
}

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <a asp-area="" asp-action="AddNewObject" asp-controller="NotifyObject" class="btn btn-primary">Добавяне на нов обект</a>
                    <div class="float-right ml-3" id="buttons"></div>
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <table id="datatable" class="display" style="width:100%">

                        <thead>
                            <tr>
                                <th>Име</th>
                                <th>Телефон 1</th>
                                <th>Телефон 2</th>
                                <th>Телефон 3</th>
                                <th>Телефон 4</th>
                                <th>Тип</th>
                                <th>Действие</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var notifyObject in Model)
                            {
                                <tr>
                                    <td>@notifyObject.Name</td>
                                    <td>@notifyObject.Phone1</td>
                                    <td>@notifyObject.Phone2</td>
                                    <td>@notifyObject.Phone3</td>
                                    <td>@notifyObject.Phone4</td>
                                    <td>@notifyObject.TypeDes</td>
                                    <td>
                                        <div class="btn-group">
                                            @if (@notifyObject.TypeId == 2)
                                            {
                                                <a asp-area="" asp-action="EditObject" asp-controller="NotifyObject" asp-route-id="@notifyObject.Id" class="btn btn-block btn-warning btn-sm">Редактиране</a>
                                            }
                                            else
                                            {
                                                @if ((User.Identity?.IsAuthenticated ?? false) && (User.IsInRole(UserConstant.Roles.Administrator)))
                                                {
                                                    <a asp-area="" asp-action="EditObject" asp-controller="NotifyObject" asp-route-id="@notifyObject.Id" class="btn btn-block btn-warning btn-sm">Редактиране</a>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-block btn-warning disabled btn-sm">Редактиране</button>
                                                }
                                            }
                                        </div>

                                        <div class="btn-group">
                                            @if (@notifyObject.TypeId == 2)
                                            {
                                                <form asp-area="" asp-action="DeleteObject" asp-controller="NotifyObject" asp-route-id="@notifyObject.Id" method="post">
                                                    <button type="submit" class="btn btn-block btn-danger btn-sm" onclick="return confirm('Потвърждаване изтриването на Обект: @notifyObject.Name')">Изтриване</button>
                                                </form>
                                            }
                                            else
                                            {
                                                @if ((User.Identity?.IsAuthenticated ?? false) && (User.IsInRole(UserConstant.Roles.Administrator)))
                                                {
                                                    <form asp-area="" asp-action="DeleteObject" asp-controller="NotifyObject" asp-route-id="@notifyObject.Id" method="post">
                                                        <button type="submit" class="btn btn-block btn-danger btn-sm" onclick="return confirm('Потвърждаване изтриването на Обект: @notifyObject.Name')">Изтриване</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-block btn-danger btn-sm disabled">Изтриване</button>
                                                }
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>Име</th>
                                <th>Телефон 1</th>
                                <th>Телефон 2</th>
                                <th>Телефон 3</th>
                                <th>Телефон 4</th>
                                <th>Тип</th>
                                <th>Действие</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- Page specific script -->
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            "pageLength": 100,
            "lengthMenu": [[10, 25, 50, 100, 250, 500, -1], [10, 25, 50, 100, 250, 500, "All"]],
            buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4, 5 ]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4, 5 ]
                }
            },
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4, 5 ]
                }
            },
            {
                extend: "print",
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4, 5 ]
                }
            }]
        }).buttons().container().appendTo('#buttons');
    } );
</script>