@using LSRPO.Core.Models.NotifyGroup
@model IEnumerable<EditGroupUsersViewModel>

@{
    ViewData["Title"] = $"Редактиране на потребители в {ViewBag.GroupName}";
}

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <form id="edit-group-users" method="post" enctype="multipart/form-data" asp-area="" asp-controller="NotifyGroup" asp-action="EditGroupUsers">
                    <input type="hidden" name="GroupId" value="@ViewBag.GroupId" />
                    <div class="card-header">
                        <button id="editGroupUsers-submit" type="submit" class="btn btn-success">Запис на потребители</button>
                        <a asp-area="" asp-action="ClearGroupUsers" asp-controller="NotifyGroup" asp-route-id="@ViewBag.GroupId" class="btn btn-primary" onclick="return confirm('Потвърждаване изчистването на потребители от @ViewBag.GroupName: ')">Изчистване на потребители</a>
                        <a asp-area="" asp-action="NotifyGroupList" asp-controller="NotifyGroup" class="btn btn-warning">Връщане към всички групи</a>
                        <div class="float-right ml-3" id="buttons"></div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="datatable" class="display" style="width:100%">

                            <thead>
                                <tr>
                                    <th style="width:3%"></th>
                                    <th>Потребителско име</th>
                                    <th>Име</th>
                                    <th>Описание</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var notifyUser in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" id="@notifyUser.UserId" name="UserIds" value=@notifyUser.UserId @(notifyUser.IsSelected ? "checked" : "")>
                                                <label for="@notifyUser.UserId"><text hidden>@notifyUser.IsSelected</text></label>
                                            </div>
                                        </td>
                                        <td>@notifyUser.UserName</td>
                                        <td>@notifyUser.FullName</td>
                                        <td>@notifyUser.UserDescription</td>
                                    </tr>
                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Потребителско име</th>
                                    <th>Име</th>
                                    <th>Описание</th>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </form>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- Page specific script -->
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            "paging": false,
            "searching": false,
            "order": [[ 0, "desc" ]],
            "buttons": ["copy", "excel", "pdf", "print"]
        }).buttons().container().appendTo('#buttons');
    } );

    $('#datatable tr *').click(function(e) {
        var $cb = $(this).parent('tr').find('input[type=checkbox]');
        var c = $cb.prop('checked');
        if (c === undefined)
            e.stopPropagation();
        else
            $cb.prop('checked', !c);
    });
</script>