@using LSRPO.Core.Models.NotifyStatus
@model IEnumerable<ProcessDetailsViewModel>

@{
    ViewData["Title"] = $"Детайлно състояние на оповестителен процес {ViewBag.ProcessId}";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">

                    <div class="card-body">
                        @*<table id="example1" class="table table-bordered table-striped">*@
                        <table id="example2" class="table table-bordered table-hover table-sm">
                            <thead> 
                                <tr>
                                    <th>ID</th>
                                    <th>Статус флаг</th>
                                    <th>Обект</th>
                                    <th>Телефон 1</th>
                                    <th>Флаг</th>
                                    <th>Телефон 2</th>
                                    <th>Флаг</th>
                                    <th>Телефон 3</th>
                                    <th>Флаг</th>
                                    <th>Телефон 4</th>
                                    <th>Флаг</th>
                                    <th>Крайно състояние</th>
                                    @*<th style="width: 205px">Действие</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var status in Model)
                                {
                                    <tr>

                                        <td>@status.StatId</td>
                                        <td>@status.StatFlag</td>
                                        <td>@status.ObjectName</td>
                                        <td>@status.Phone1</td>
                                        <td>@status.Phone1Flag</td>
                                        <td>@status.Phone2</td>
                                        <td>@status.Phone2Flag</td>
                                        <td>@status.Phone3</td>
                                        <td>@status.Phone3Flag</td>
                                        <td>@status.Phone4</td>
                                        <td>@status.Phone4Flag</td>
                                        <td>@status.FinalFlag</td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Статус флаг</th>
                                    <th>Обект</th>
                                    <th>Телефон 1</th>
                                    <th>Флаг</th>
                                    <th>Телефон 2</th>
                                    <th>Флаг</th>
                                    <th>Телефон 3</th>
                                    <th>Флаг</th>
                                    <th>Телефон 4</th>
                                    <th>Флаг</th>
                                    <th>Крайно състояние</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- /.content -->
<!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/jszip/jszip.min.js"></script>
<script src="~/plugins/datatables/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/datatables/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables/datatables-buttons/js/buttons.colVis.min.js"></script>

<!-- Page specific script -->
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
</script>