@using LSRPO.Core.Models.NotifyStatus
@model IEnumerable<ProcessDetailsViewModel>

@{
    ViewData["Title"] = $"Детайлно състояние на оповестителен процес {ViewBag.ProcessId}";
}

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <div class="float-right ml-3" id="buttons"></div>
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <table id="datatable" class="display" style="width:100%">

                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Статус флаг</th>
                                <th>Обект</th>
                                <th>Телефон 1</th>
                                <th>Флаг</th>
                                <th>Телефон 2</th>
                                <th>Флаг</th>
                                <th>Телефон 3</th>
                                <th>Флаг</th>
                                <th>Телефон 4</th>
                                <th>Флаг</th>
                                <th>Крайно състояние</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var status in Model)
                            {
                                <tr>
                                    <td>@status.StatId</td>
                                    <td>@status.StatFlag</td>
                                    <td>@status.ObjectName</td>
                                    <td>@status.Phone1</td>
                                    <td>@status.Phone1Flag</td>
                                    <td>@status.Phone2</td>
                                    <td>@status.Phone2Flag</td>
                                    <td>@status.Phone3</td>
                                    <td>@status.Phone3Flag</td>
                                    <td>@status.Phone4</td>
                                    <td>@status.Phone4Flag</td>
                                    <td>@status.FinalFlag</td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Статус флаг</th>
                                <th>Обект</th>
                                <th>Телефон 1</th>
                                <th>Флаг</th>
                                <th>Телефон 2</th>
                                <th>Флаг</th>
                                <th>Телефон 3</th>
                                <th>Флаг</th>
                                <th>Телефон 4</th>
                                <th>Флаг</th>
                                <th>Крайно състояние</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- Page specific script -->
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            "pageLength": 100,
            "lengthMenu": [[10, 25, 50, 100, 250, 500, -1], [10, 25, 50, 100, 250, 500, "All"]],
            "buttons": ["copy", "csv", "excel", "pdf", "print"]
        }).buttons().container().appendTo('#buttons');
    } );
</script>