@using LSRPO.Core.Models.NotifyStatus
@model IEnumerable<ProcessListAllViewModel>

@{
    ViewData["Title"] = "Справка за всички оповестителни процеси";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <div class="float-right ml-3" id="buttons"></div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @*<table id="example1" class="table table-bordered table-striped">*@
                        <table id="example2" class="ui celled table display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Име на група</th>
                                    <th>Име на лице</th>
                                    <th>Пулт</th>
                                    <th>Тип</th>
                                    <th>Начална дата</th>
                                    <th>Крайна дата</th>
                                    <th>Флаг</th>
                                    <th>Действие</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var process in Model)
                                {
                                    <tr>
                                        <td>@process.ProcessId</td>
                                        <td>@process.GroupName</td>
                                        <td>@process.UserName</td>
                                        <td>@process.PultName</td>
                                        <td>@process.ProccesTypeName</td>
                                        <td>@process.StartDate</td>
                                        <td>@process.EndDate</td>
                                        <td>@process.FlagName</td>
                                        <td>
                                            <div class="btn-group">
                                                <a asp-area="" asp-action="ProcessDetails" asp-controller="NotifyStatus" asp-route-id="@process.ProcessId" class="btn btn-block btn-info btn-sm">Детайли</a>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Име на група</th>
                                    <th>Име на лице</th>
                                    <th>Пулт</th>
                                    <th>Тип</th>
                                    <th>Начална дата</th>
                                    <th>Крайна дата</th>
                                    <th>Флаг</th>
                                    <th>Действие</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Page specific script -->
<script>
    $(document).ready(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "order": [[ 0, "desc" ]],
        "info": true,
        "autoWidth": false,
        "responsive": true,
        "pageLength": 100,
        "lengthMenu": [10, 25, 50, 100, 200, 500, 1000],
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#buttons');
    });
</script>