@using LSRPO.Core.Models.NotifyStatus
@model IEnumerable<ProcessDetailsViewModel>

@{
    var process = (ProcessListAllViewModel)ViewBag.Status;
    var processString = ViewBag.ProcessString;
    ViewData["Title"] = $"Детайлно състояние на оповестителен процес {process.ProcessId}";
}

<input type="hidden" asp-for=@processString id="processString">

<style type='text/css'>
    th { font-size: 14px; }
    td { font-size: 13px; }
</style>

<div id="printableArea">

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">

                <div class="card-body">
                    <table id="datatableProcess" class="table" align="center" style="margin-left: auto; margin-right: auto; width:100%">

                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Име на група</th>
                                <th>Име на лице</th>
                                <th>Пулт</th>
                                <th>Тип</th>
                                <th>Начална дата</th>
                                <th>Крайна дата</th>
                                <th>Флаг</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>@process.ProcessId</td>
                                <td>@process.GroupName</td>
                                <td>@process.UserName</td>
                                <td>@process.PultName</td>
                                <td>@process.ProccesTypeName</td>
                                <td>@process.StartDate</td>
                                <td>@process.EndDate</td>
                                <td>@process.FlagName</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <div class="float-right ml-3" id="buttons"></div>
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <table id="datatable" class="display compact" style="width:100%">

                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Статус флаг</th>
                                <th>Обект</th>
                                <th style="width:9%">Тел. Обект/ Мобилен 1</th>
                                <th>Флаг</th>
                                <th>Мобилен 2</th>
                                <th>Флаг</th>
                                <th>Служебен 1</th>
                                <th>Флаг</th>
                                <th>Служебен 2</th>
                                <th>Флаг</th>
                                <th>Крайно състояние</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var status in Model)
                            {
                                <tr>
                                    <td>@status.StatId</td>
                                    <td>@status.StatFlag</td>
                                    <td>@status.ObjectName</td>
                                    <td>@status.Phone1</td>
                                    <td>@status.Phone1Flag</td>
                                    <td>@status.Phone2</td>
                                    <td>@status.Phone2Flag</td>
                                    <td>@status.Phone3</td>
                                    <td>@status.Phone3Flag</td>
                                    <td>@status.Phone4</td>
                                    <td>@status.Phone4Flag</td>
                                    <td>@status.FinalFlag</td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Статус флаг</th>
                                <th>Обект</th>
                                <th>Тел. Обект/ Мобилен 1</th>
                                <th>Флаг</th>
                                <th>Мобилен 2</th>
                                <th>Флаг</th>
                                <th>Служебен 1</th>
                                <th>Флаг</th>
                                <th>Служебен 2</th>
                                <th>Флаг</th>
                                <th>Крайно състояние</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

</div>

<!-- Page specific script -->
@section Scripts {
<script>
    var processString = document.getElementById('processString').value;

    $(document).ready(function() {
        $('#datatable').DataTable({
            "pageLength": 100,
            "lengthMenu": [[10, 25, 50, 100, 250, 500, -1], [10, 25, 50, 100, 250, 500, "All"]],
            "responsive": true,
            buttons: [ 'copyHtml5',
            {
                extend: 'excelHtml5',
                messageTop: processString
            },
            {
                extend: 'pdfHtml5',
                messageTop: processString,
                orientation: 'landscape',
                pageSize: 'LEGAL'
            },
            {
                extend: "print",
                messageTop: processString,
                customize: function(win)
                {
                    var last = null;
                    var current = null;
                    var bod = [];

                    var css = '@@page { size: landscape; }',
                        head = win.document.head || win.document.getElementsByTagName('head')[0],
                        style = win.document.createElement('style');

                    style.type = 'text/css';
                    style.media = 'print';

                    if (style.styleSheet)
                    {
                      style.styleSheet.cssText = css;
                    }
                    else
                    {
                      style.appendChild(win.document.createTextNode(css));
                    }

                    head.appendChild(style);
                }
            }
        ]
        }).buttons().container().appendTo('#buttons');
    } );
</script>
}